<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YelpCamp</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css"
      integrity="sha384-rbsA2VBKQ7B9iZ83rZMzfrJf6NqVdDCn4E9iqvEZ4tnyKcvxZ9GZ1GmrJoIz5qeD"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/home.css" />
  </head>

  <body class="bg-dark">
    <div class="container d-flex flex-column vh-100">
      <header class="mb-auto">
        <div>
          <h3 class="text-white">YelpCamp</h3>
          <nav class="nav justify-content-center">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
            <a class="nav-link" href="/campgrounds">Campgrounds</a>
            <% if (!currentUser) { %>
            <a class="nav-link" href="/login">Login</a>
            <a class="nav-link" href="/register">Register</a>
            <% } else { %>
            <a class="nav-link" href="/logout">Logout</a>
            <% } %>
          </nav>
        </div>
      </header>

      <main
        class="flex-grow-1 d-flex flex-column justify-content-center align-items-center text-center"
      >
        <h1 class="text-white">YelpCamp</h1>
        <p class="lead text-white">
          Welcome to YelpCamp! <br />
          Jump right in and explore our many campgrounds. <br />
          Feel free to share some of your own and comment on others!
        </p>
        <a
          href="/campgrounds"
          class="btn btn-lg btn-secondary font-weight-bold border-white bg-white"
          >View Campgrounds</a
        >
      </main>

      <footer class="mt-auto text-white-50 text-center">
        <p>&copy; YelpCamp 2024</p>
      </footer>
    </div>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"
      integrity="sha384-qX00Vr4bmLrj9vpa0WioB5h4o+QFEMDEgZYK7Y2U0D5ymaUfgWCCFVBSft3zBG6a"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
