<% layout('layouts/boilerplate') %>
<!-- Extend the boilerplate layout -->

<div class="row">
  <h1 class="text-center">New Campground</h1>
  <div class="col-md-6 offset-md-3">
    <!-- Form to create a new campground -->
    <form action="/campgrounds" <!-- Form action to create a new campground -->
      method="POST"
      <!-- HTTP method -->
      novalidate
      <!-- Disable browser's default validation -->
      class="validated-form"
      <!-- Custom form validation class -->
      enctype="multipart/form-data"
      <!-- Enable file uploads -->
      >
      <!-- Input for the title of the campground -->
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input
          class="form-control"
          type="text"
          id="title"
          name="campground[title]"
          required
          <!--
          Field
          is
          required
          --
        />
        />
        <div class="valid-feedback">Looks good!</div>
      </div>

      <!-- Input for the location of the campground -->
      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input
          class="form-control"
          type="text"
          id="location"
          name="campground[location]"
          required
          <!--
          Field
          is
          required
          --
        />
        />
        <div class="valid-feedback">Looks good!</div>
      </div>

      <!-- Input for the price of the campground -->
      <div class="mb-3">
        <label class="form-label" for="price">Campground Price</label>
        <div class="input-group">
          <span class="input-group-text" id="price-label">$</span>
          <input type="number" <!-- Changed type to number for price input -- />
          class="form-control" id="price" placeholder="0.00" aria-label="price"
          aria-describedby="price-label" name="campground[price]" required
          <!-- Field is required -->
          min="0"
          <!-- Minimum value for price -->
          step="0.01"
          <!-- Step value for price input -->
          />
        </div>
        <div class="valid-feedback">Looks good!</div>
      </div>

      <!-- Textarea for the description of the campground -->
      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea
          class="form-control"
          id="description"
          name="campground[description]"
          required
          <!--
          Field
          is
          required
          --
        >
        ></textarea
        >
        <div class="valid-feedback">Looks good!</div>
      </div>

      <!-- Input for selecting images -->
      <div class="mb-3">
        <label for="image" class="form-label">Choose image(s)...</label>
        <input
          class="form-control"
          type="file"
          id="formFileMultiple"
          name="image"
          multiple
          <!--
          Allow
          multiple
          file
          uploads
          --
        />
        />
      </div>

      <!-- Submit button for the form -->
      <div class="mb-3">
        <button class="btn btn-success">Add Campground</button>
      </div>
    </form>

    <!-- Link to go back to all campgrounds -->
    <a href="/campgrounds">All Campgrounds</a>
  </div>
</div>
